@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  -webkit-box-shadow: 6px 14px 10px -8px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 6px 14px 10px -8px rgba(0, 0, 0, 0.62);
  box-shadow: 6px 14px 10px -8px rgba(0, 0, 0, 0.62);
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
}
